<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>分组01</string>
		<key>open</key>
		<true/>
		<key>foldable</key>
		<false/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>分组01-001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>分组01-002</string>
			</dict>
			<dict>
				<key>name</key>
				<string>分组01-003</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>分组02</string>
		<key>open</key>
		<false/>
		<key>foldable</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>分组02-001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>分组02-002</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>分组03</string>
		<key>open</key>
		<false/>
		<key>foldable</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>分组03-001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>分组03-002</string>
			</dict>
			<dict>
				<key>name</key>
				<string>分组03-003</string>
			</dict>
			<dict>
				<key>name</key>
				<string>分组03-004</string>
			</dict>
			<dict>
				<key>name</key>
				<string>分组03-005</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
